vinca.yaml
recipes/
*.bat
*.sh
*.ps1
*.json
.DS_Store
# pixi environments
.pixi
*.egg-info
output/
logs/*
!additional_recipes/ros-noetic-cv-bridge/bld_catkin.bat
!additional_recipes/ros-noetic-cv-bridge/build_catkin.sh
